{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Redbanx Disabled" %}{% endblock %}

{% block content %}

<h1>Redbanx is under maintenance and currently unavailable. Please come back and try again later.</h1>
<p> For any emergency, please do not hesitate to reach us or contact your account manager.</p>
{% endblock %}
